<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Nazwa"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{data.armor}}
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">Opis</a>
        <a class="item" data-tab="details">Detale</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/fate_v2/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <div class="flexrow properties_div">
                <h3 class="form-header properties">Wlaściwości Zbroi</h3>

                <div class="form-group select properies">
                    <label>Zbroja Zużywalna</label>
                    <input name="data.zuzywalne" type="checkbox" {{checked data.zuzywalne}} />
                </div>
            </div>

            <div class="form-group select">
                <label>Typ Zbroi</label>
                <select name="data.typ">
                    {{#select data.typ}}
                    <option value=""></option>
                    {{/select}}
                </select>
            </div>

            <div class="form-group select">
                <label>Bonus Zbroi</label>
                <input name="data.bonus" class="item_input" type="number" data-dtype="Number" placeholder="0" value="{{data.bonus}}"/>
            </div>
        </div>
    </section>
</form>